// Основной контент 
.our-benefits {
    color: $primary-page-text;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
}
  
  // Оформление списка "Наши преимущества"
.benefits-list {  
    @media screen and (max-width: 767px) {
      & li {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        @include centeredFlex($type: flex, $align: baseline, $justify: center);
        flex-wrap: wrap;

        & li:nth-child(-n+2) {
          margin-bottom: 30px;
        }

        & li:not(:nth-child(2n)){
          margin-right: 30px;
        }

        & li {
          width: calc((100% - 2 * 30px) / 2);
        }
    }
    @media screen and (min-width: $desktop) {
        @include centeredFlex($type: flex, $align: baseline, $justify: center);
        flex-wrap: wrap;

        & li:not(:last-child){
          margin-right: 30px;
        }
  
        & li {
          width: calc((100% - 3 * 30px) / 4);
        }
    }
}
  // Иконка
  .bnf-icon {
    @include centeredFlex();
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px; 
    background-color:  $bnf-icons-bg;
  }
  
  // Заголовок
  .title {
    color: $secondary-page-text;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    @media screen and (max-width: $mobile) {
        text-align: center; 
    }
  }
