// /Баннер с фоновым рисунком
.banner {
    @include centeredFlex();
    flex-direction: column;
    background-color: rgba(47, 48, 58, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/banner-480.jpg');

    @media screen and (min-width: $mobile) {
        max-width: 100%;
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/banner-480@2x.jpg');
            }
        }
    }

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/banner-768.jpg');

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/banner-768@2x.jpg');
            }
        }
    }

    @media screen and (min-width: $desktop) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/banner-1600.jpg');
        min-height: 600px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/banner-1600@2x.jpg');
            }
        }
    }    
}
  
.banner-text-box {
    display: inline-block;
    margin-bottom: 30px;

    @media screen and (min-width: $mobile) {
        max-width: 360px;
        height: 84px;
    }

    @media screen and (min-width: $tablet) {
        max-width: 360px;
        height: 84px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 696px;
        height: 120px;
    }   
}
  
.banner-text {
    margin: 0;
    padding: 0;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $page-hero-text;

    @media screen and (min-width: $mobile) {
        font-size: 26px;
        line-height: 1.62;
    }

    @media screen and (min-width: $tablet) {
        font-size: 26px;
        line-height: 1.62;
    }

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }    
  }