// Секция "Чем мы занимаемся"

// Заголовок секции
.our-skills {
    @media screen and (max-width: 1199px) {
        display: none;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 0;
    }
}

@media screen and (min-width: $desktop) {

    .projects-title {    
        color: $secondary-page-text;
        margin-top: 0;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
    
    }
  
    .categories {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        list-style-type: none;

        li:not(:last-child) {
            margin-right: 30px;
        }
    }
  
    .target-img {
        position: relative;
    }
  
  // Подписи к проектам
    .project {
        position: absolute;
  
        display: block;
        left: 0;
        bottom: 0;
  
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 27px;
        padding-bottom: 27px;
  
        min-width: 370px;
    
        color: $page-hero-text;
        background-color: $fig-caption-bg;
  
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
    }
  }