// Секция сотрудников
.team {
    background-color: $team-section-bg;
  }
// Заголовок секции
  .team-title {
    margin-top: 0;
    margin-bottom: 30px;
  
    color: $secondary-page-text;
  
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: $desktop) {
      font-size: 36px;
    }
  }
// Офофрмление списка сотрудников
  .team-list {
    @media screen and (max-width: 767px) {
      .employee-card {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        @include centeredFlex();
        flex-wrap: wrap;

        .employee-card:nth-child(-n+2) {
          margin-bottom: 30px;
        }

        .employee-card:not(:nth-child(2n)) {
          margin-right: 30px;
        }

        .employee-card {
          width: calc((100% - 1 * 30px) / 2);
        }
    }
    @media screen and (min-width: $desktop) {
        @include centeredFlex();
        flex-wrap: wrap;

        .employee-card:not(:last-child){
          margin-right: 30px;
        }
  
        .employee-card {
          width: calc((100% - 3 * 30px) / 4);
        }
    }
  }
// Карточка сотрудника
  .employee-card {
    padding-bottom: 24px;
    border-radius: 4px;
    text-align: center;
    background-color: $primary-bg;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

    img {
      margin-bottom: 30px;
    }
  }

//  Имя сотрудника
.employee-name {
    @extend %info;
    margin-bottom: 10px;
    color: $secondary-page-text;
    font-weight: 500;
  }
// Должность
.employee-position {
    @extend %info;
    margin-bottom: 16px;
    color: $primary-page-text;
}

// Список иконок социальных сетей
  .social-links-list {
    @include centeredFlex();
    
    li:not(:last-child) {
        margin-right: 10px;
    }
  }

  // Иконки социальных сетей в карточках сотрудников и в футере
  .icon {
      @extend %icon-link;    
      fill: $link-icons;

      &:hover, &:focus {
        background-color: $main-accent;
        fill: $page-hero-text;
      }
  }