// Переменные для оформления цветов
$primary-page-text: #757575;
$main-accent: #2196f3;
$logo-part-text: #000000;
$secondary-page-text: #212121;
$footer-contacts: rgba(255, 255, 255, 0.6);
$page-hero-text: #ffffff;
$link-icons: #afb1b8;
$copyright: rgba(255, 255, 255, 0.4);
$bnf-icons-1: #212121;
$bnf-icons-bg: #f5f4fa;
$primary-bg: #ffffff;
$bnf-icons-2: #2196f3;
$team-section-bg: #f5f4fa;
$fig-caption-bg: rgba(47, 48, 58, 0.8);
$footer-links-bg: rgba(255, 255, 255, 0.1);
$footer-bg: #2f303a;
$portfolio-overlay: rgba(33, 150, 243, 0.9);

// Переменные для оформления переходов
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-period: 250ms;

// Переменные для оформления шрифтов
$main-font: Roboto, sans-serif;
$secondary-font: Raleway;