// Общие настройки страницы
body {
    background-color: $primary-bg;  
    font-family: $main-font;

    @media screen and (min-width: $mobile) {
        padding-top: 60px;
    }
    
    @media screen  and (min-width: $desktop) {
        padding-top: 80px;
    }
}
body.modal-open {
    overflow: hidden;
}

img {
    display: block;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    margin: 0px;
    padding: 0px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: $mobile) {
        width: 480px;  
    }

    @media screen and (min-width: $tablet) {
        width: 768px;  
    }

    @media screen and (min-width: $desktop) {
        width: 1200px;
        margin-left: auto;
        margin-right: auto; 
    }    
}

.section {
    @media screen and (min-width: $mobile) {
        padding-top: 60px;
        padding-bottom: 60px;  
    }

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;  
    }
}