// Общие настройки страницы
body {
    background-color: $primary-bg;  
    font-family: $main-font;
}
  
img {
    display: block;
}
 
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 480px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

// Логотип веб-студии
.studio-logo {
    @extend %logo;
    color: $main-accent;
    font-size: 24px;
    line-height: 1.17;
}

// Часть логотипа
.logo {
    color: $logo-part-text;
}

// Логотип веб-студии в футере
.studio-logo-footer {
  @extend %logo;
  font-size: 22px;
  line-height: 1.18;

    &:visited {
      color: $main-accent;
    }
}

.footer-logo {
  color: $page-hero-text;
}


  